*{
    box-sizing: border-box;
}
@font-face {
    font-family: "FuturaLT";
    src: url("./assets/FuturaLT-Book.ttf");
}
@font-face {
    font-family: 'Cookie';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/cookie/v17/syky-y18lb0tSbf9kgqS.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root{
    --main-brown : #52000B;
    --main-brown : #370A1E;
    --main-yellow : #EEB700;
    --main-light : #FFF8E0;
    --main-light : #fffefa;
    --main-dark : #250000;
    --main-font : "FuturaLT";
    --original-font : "Cookie";
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-light);
    color: var(--main-brown);
    font-family: var(--main-font), 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
svg{
    width: 2rem;
    height: 2rem;
}
a{
    text-decoration: none;
    color: var(--main-brown);
}
li{
    list-style-type: none;
}
h1, h2, h3, h4{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
hr{
    height: 0.0625rem;
    background-color: var(--main-dark);
    border: none;
}

.flex{
    display: flex;
}
.flex_vertical_center{
    display: flex;
    align-items: center;
}
.flex_center_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_between_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex_center_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flex_right_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}
.btn{
    border: 0.0625rem solid var(--main-brown);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--main-light);
}
.btn:hover{
    /* background-color: var(--main-brown);
    color: var(--main-light); */
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
    background-image: url("/img/bg_cacao_slim_bis.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 13rem;
    background-color: var(--main-brown);
    border-radius: 0 0 50% 50%;
}
#logo{
    width: 12rem;
    height: 12rem;
    background-image: url("./img/logo_xocolate_251x251.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header h1{
    display: none;
}
header h2{
    padding-bottom: 1rem;
}
#brand div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.badge{
    margin-block-start: 0.0125rem;
    margin-block-end: 0.0125rem;
    font-family: var(--original-font), cursive;
    font-size: 1.5rem;
    font-weight: bold;
}
#navbar_desktop{
    display: none;
}
#navbar_mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-brown);
    color: var(--main-light);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    z-index: 10;
}
#navbar_mobile a{
    color: var(--main-light);
}

main{
    width: 100%;
}
#hero_top{
    width: 100%;
}
#hero_img_1, #hero_img_2{
    width: 100%;
    height: 100vw;
    background-image: url("./img/3d50dc_7722abb44784409aa9a15ac997fe8dcc_mv2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hero_img_2{
    display: none;
}
#hero_cta{
    width: 100%;
    padding: 1rem;
}
#ancheta_cta_mobile{
    /* font-family: var(--original-font), cursive; */
    padding: 0;
    font-size: 1.2rem;
    /* font-weight: bold; */
}
#ancheta_cta_mobile a{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.25rem 0.5rem;
}
#ancheta_cta_mobile p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
#ancheta_cta_mobile svg{
    margin-left: auto;
    margin-right: 0;
}

#ancheta_cta_desktop{
    display: none;
}
#new_product{
    /* background-color: cyan; */
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 10rem;
    padding: 1rem 1rem;
}
.card{
    border: 0.0625rem solid var(--main-brown);
    margin-bottom: 1rem;
}
.card_img{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    /* background-image: url("./img/3d50dc_ed135dd95c1b4a969dd61005746d981b_mv2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.card_text{
    padding: 0 1rem 1rem 1rem;
}
.card_text h4{
    text-align: left;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
.card_text p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
#ver_mas{
    justify-self: center;
    align-self: center;
    font-size: 1.2rem;
}
#hero_bottom{
    width: 100%;
}
#videos_gallery{
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}
#videos_gallery iframe{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}
footer{
    width: 100%;
    padding: 1rem;
    padding-bottom: 6rem;

    background-color: var(--main-yellow);
}
footer h3{
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
footer p{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
}
#localization{
    width: 100%;
}
#agenda, #map{
    width: 100%;
}
#map svg{
    margin-right: 0.5rem;
}
.m-bottom{
    margin-bottom: 0.5rem;
}
#social{
    width: 100%;
    padding-top: 1rem;
}

.modal{
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(238, 183, 0, 0.2);
    backdrop-filter: blur(0.7rem);
    overflow-y: hidden;
}
.modal form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    color: var(--main-light);
    background-color: var(--main-brown);
}
.modal input{
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    border: 0.0625rem solid var(--main-brown);
    border-radius: 0.25rem;
    background-color: var(--main-light);
}
.modal .btn{
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
}

#closeModal{
    position: relative;
    /* top: 1rem;
    right: 1rem; */
    justify-self: end;
    align-self: self-end;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
#loginModal p {
    width: 100%;
    line-height: 2rem;
}
#loginModal span {
    font-weight: bold;
    font-style: italic;
}

.hidden{
    display: none;
}
.deleteScroll{
    overflow-y: hidden;
}